*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
    display: grid;
    background-color: rgb(145, 177, 145);
    grid-template-columns: repeat(1,1fr);
}
.nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    background-image: linear-gradient(to left, rgb(98, 153, 98), rgb(164, 199, 164), rgb(200, 218, 200),rgb(164, 199, 164),rgb(98, 153, 98));
}
.nav a{
    text-decoration: none;
    margin-right: 40px;
    color: black;
    font-size: 26px;
}
.nav a:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 5px;
}
.welcome{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px green;
}
.content{
    padding: 150px 100px 100px 10px;
    font-size: 22px;
}
.content h1{
    margin-top: 20px;
}
.content p{
    margin-top: 20px;
}
.content button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(65, 153, 65);
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    box-shadow: 0px 0px 10px rgb(172, 89, 110);
}
.content a{
    text-decoration: none;
    color: black;
}
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about h1{
    width: 80%;
}
.about p{
    width: 70%;
    margin-top: 30px;
    text-align: justify;
    font-size: 20px;
}
.skills{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset{
    margin-bottom: 50px;
    width: 80%;
    color: rgb(194, 11, 81);
    font-size: 22px;
    border: 2px solid rgb(6, 119, 25);
}
legend{
    text-align: center;
}
.frontend{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tool{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100px;
    height: 150px;
    background-color: blanchedalmond;
    border: none;
    box-shadow: 0px 0px 10px green;
    border-radius: 20px;
   margin: 30px;
   transition: 1s;
   padding: 10px;
}
.card img{
    width: 100%;
    height: 40%;
    margin-top: 10px;
    /* border-radius: 50%; */
}
.card h1{
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}
.card:hover{
    position: relative;
    top: -10px;
    box-shadow: 0px 0px 30px rgb(184, 33, 58);
}
.text{
  width: 80%;
  text-align: start;
}
.project{
    width: 100%;
    height: auto;
}
.three img{
    width: 90%;
    height: 250px;
}
.works{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.viewproject{
    width: 320px;
    height: auto;
    margin: 20px;
}
.mywork{
    text-indent: 10%;
    color: rgb(59, 92, 4);
    margin-bottom: 30px;
}
.btn{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(221, 97, 122);
    border: 2px solid crimson;
    font-size: 18px;

}
.btn:hover{
    background-color: rgb(91, 161, 91);
    border: 2px solid green;
}
.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.three{
     width: 320px;
     transform-style: preserve-3d;
     perspective: 1000px;
    height: 270px; 
    backface-visibility: hidden;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: 2s;
    box-shadow: 0px 0px 10px black;
}
.front{
    position: absolute;
    perspective: 1000px;
}
.back{
    width: 320px;
    height: 270px;
    backface-visibility: hidden;
    background-color: rgb(224, 191, 211);
    transform: rotateY(180deg);
    position: absolute;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three:hover{
    transform: rotateY(180deg);
}
.back li{
    width: 60%;
}
.back a{
    /* text-decoration: none; */
    font-size: 28px;
}
.lists{
    display: none;
}
.box{
    display: none;
}
.details{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two{
    
    width: 80%;
    height: 500px;
    background-color: blueviolet;
    position: relative;
    transition: 2s;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    
}
.exp{
    width: 100%;
    background-color: aqua;
    position: absolute;
    height: 100%;
   backface-visibility: hidden;
   transform: rotateY(180deg);
}
.edu{
     position: absolute;
    width: 100%;
    background-color: rgb(136, 44, 116);
    height: 100%;
    backface-visibility: hidden;
}
.checkexp:checked ~ .two{
    transform: rotateY(180deg);
}
.contact{
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(131, 12, 95);
    background-image: url(./image/download.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.input{
    background-image: linear-gradient(to left, rgb(190, 134, 145),pink,rgb(219, 198, 198),rgb(216, 151, 164));
    margin-top: 40px;
    width: 400px;
    border:none;
    border-radius: 20px;
    height: 50px;
    text-align: center;
}
.input1{
 width: 200px;
 margin-top: 30px;
 height: 50px;
 border-radius: 20px;
 border: none;
 background-image: linear-gradient(to left, rgb(153, 153, 214), rgb(186, 177, 226),  rgb(139, 139, 199), rgb(176, 176, 206));
 font-size: 22px;
 font-weight: bold;
 transition: 2s;
}
.input1:hover{
    transform: scale(1.1);
}
.contact-form h1{
    text-align: center;
}
.footer{
    width: 100%;
    height: auto;
    text-align: center;
}
.get{
    margin-top: 50px;
    font-size: 22px;
    color: rgb(71, 5, 66);
}
.get h5{
    margin: 20px;
}
.get p i{
    margin: 20px;
    font-size: 28px;
    color: rgb(25, 65, 25);
}
.copy{
    font-size: 14px;
    margin-top: 20px;
}






@media screen and (max-width:548px){
    .container{
        width: 100%;
        height: auto;
    }
    body{
        overflow-x: hidden;
    }
    .welcome{
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        height: auto;
        grid-template-columns: repeat(1,1fr);
    }
    .nav{
        padding: 0;
    }
    .nav a{
        margin: 0;
    }
    .list{
        position: absolute;
        top: 50px;
        transition: 2s;
        /* margin-top: 100px; */
        left: -100%;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to bottom, green, lightgreen, white, lightgreen, green);
    }
    .profile img{
        margin-top: 20px;
    }
    .content{
        padding: 0;
        text-align: center;
        font-size: 20px;
        color: rgb(15, 85, 15);
    }
    .content button{
        margin: 0;
        width: 40%;
        font-size: 16px;
        margin: 10px;
        margin-top: 30px;
    }
    .content p{
        color: rgb(68, 65, 65);
    }
    .profile img{
        width: 200px;
        height: 200px;
    }
    fieldset{
        margin-top: 30px;
        justify-items: center;
    }
    .frontend, .tool{
        display: grid;
        grid-template-columns: repeat(2,1fr);
         }
   
    .card{
        margin: 10px;
    }
    .lists{
        display: block;
    }
    .list{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        
    }
    .list a{
        padding: 25px;
    }
    .viewproject{
        width: 90%;
        margin-left: 10%;
    }
    .three{
        width: 90%;
    }
    .box:checked ~ .list{
        left: 0;
    }
    .input{
        width: 350px;
    }

}